.app {
  font-family: Arial, sans-serif;
  margin: 20px;
  
  h1{
    text-align: center;
  }
}
  
.comment {
  margin-top: 15px;
}
.comment-header{
  background-color: #ddd;
  padding: 10px 20px 10px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  color: #4e4e4e;
  font-size: 14px;
}
.comment-info{
  display: flex;
  gap: 10px;
  align-items: center;
}
.comment-placeholder{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.comment-header strong{
  color: #000;
  font-size: 18px;
}
.comment-reply{
  background-color: transparent;
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
}
.comment-text{
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
}
.comment-img{
  max-width: 320px;
  max-height: 240px;
  cursor: pointer;
}
.modal-overlay {
  position:  fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
.modal-content{
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  max-height: 90vh;
}
.modal-image {
  margin-top: 30px;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 4px;
}
.close-button{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  
.replies {
  margin-top: 20px;
}

.addComRep {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.addComRep input[type="text"],
.addComRep input[type="email"],
.addComRep textarea {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.addComRep input[type="text"]:focus,
.addComRep input[type="email"]:focus,
.addComRep textarea:focus {
  border-color: #3b82f6;
}

.addComRep textarea {
  resize: vertical;
  min-height: 80px;
}

.addComRep button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3b82f6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addComRep button:hover {
  background-color: #2563eb;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.input-group label{
  font-weight: bold;
  margin-bottom: 8px;
}
.input-group input[type="file"]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color .3s;
}
.input-group input[type="file"]:hover{
  border-color: #007bff;
}